@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root{
    --background-col: hsl(0, 0%, 13%);
    --primary-col: hsl(16, 81%, 58%);
    /* --secondary-col: hsla(0, 18%, 91%, 0.251); */
    --secondary-col: hsl(0, 1%, 34%);
    --border-col: hsl(0, 1%, 18%);
    --hover-col: hsla(0, 0%, 31%, 0.251);
    --text-col: hsl(0, 0%, 100%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: var(--text-col);
}

*::selection{
    background-color: var(--primary-col);
}

.selected,
a:hover{
    color: var(--primary-col) !important;
}

button{
    background-color: var(--primary-col);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 15px;
}

body{
    background-color: var(--background-col);
    margin: 30px 450px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/* Navigation */

header{
    position: sticky;
    top: 0;
    background-color: var(--background-col);
    z-index: 10;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-link{
    padding: 15px 25px;
    text-decoration: none;
    transition: 250ms ease;
}

.nav-link:hover{
    color: #fff !important;
    background-color: var(--hover-col);
}

.li-cta{
    background-color: var(--secondary-col);
    border-radius: 15px;
    transition: all 250ms ease;
}

.li-cta:hover{
    background-color: #fff;
}

.nav-cta{
    padding: 5px 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    display: inline-block;
    transition: all 150ms ease;
    border-radius: 15px;
}

.nav-cta:hover{
    transform: scale(.9) !important;
    color: var(--background-col) !important;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/* Main section */

main{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
main > p{
    text-align: center;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/* Pricing container */

.pricing-container{
    background-color: var(--text-col);
    margin: 50px 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 630px;
    height: 165px;
    border-radius: 6px;
}

.pricing-container h2,
.pricing-container p{
    color: var(--background-col);
}

.pricing-input{
    width: 100%;
}

/* custom slider */
.pricing-input input[type="range"]{
    -webkit-appearance: none;
    width: 80%;
}

.pricing-input input[type="range"]:focus,
.pricing-input input[type="number"]:focus{
    outline: none;
}

.pricing-input input[type="range"]::-webkit-slider-runnable-track{
    background: var(--primary-col);
    border-radius: 10px;
    height: 10px;
}

.pricing-input input[type="range"]::-moz-range-track{
    background: var(--primary-col);
    border-radius: 50%;
    height: 10px;
}

.pricing-input input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    background-color: #fff;
    margin-top: -4px;
    border: 3px solid var(--primary-col);
    border-radius: 50%;
    cursor: pointer;
}
   
.pricing-input input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    background-color: #fff;
    margin-top: -4px;
    border: 1px solid var(--primary-col);
    border-radius: 50%;
    cursor: pointer;
}

/* custom number input*/
.pricing-input input[type="number"]::placeholder{
    color: #fff;
}

.pricing-input input[type="number"]{
    margin-left: 30px;
    padding: 5px 15px;
    background-color: var(--primary-col);
    border: 0;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
}

.pricing-input input::-webkit-outer-spin-button,
.pricing-input input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.pricing-input input[type=number]{
    -moz-appearance: textfield;
}

.rocket{
    position: absolute;
    left: 26%;
    top: 23%;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/* Table */

table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid var(--border-col);
}

th{
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
}

th,
td{
    padding: 15px 0;
}

.tick{
    text-align: center;
}

.price-display{
    font-size: 36px;
    font-weight: bolder;
}

.price-cell{
    position: relative;
}

#priceDisplay{
    position: absolute;
    top: 25%;
}

.price-span{
    display: inline-block;
    margin-left: 8em;
    font-size: 14px;
    color: #aaa;
}

td button{
    width: 250px;
    margin: 20px 0;
    padding: 8px 0;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}

table tr:nth-child(2),
table tr:nth-child(3){
    border-color: transparent;
}

table tr:last-child{
    border-color: transparent;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/* form */

section{
    margin-top: 50px        ;
    text-align: center;
    width: 65%;
}

h3{
    font-size: 37px;
}

section > p{
    font-size: 18px;
    font-weight: lighter;
}

form ul{
    list-style: none;
}

.form-top{
    display: flex;
    justify-content: center;
}

form input,
form select{
    margin: 50px 30px;
    padding: 5px;
    background-color: var(--secondary-col);
    border: 1px solid transparent;
    border-radius: 6px;
    font-weight: lighter;
    font-size: 18px;
}

form input:focus-visible,
form select:focus-visible{
    outline: 1px solid transparent;
}

form input:focus,
form select:focus{
    border: 1px solid var(--primary-col)
}

form input::placeholder{
    color: #fff;
}

select option:hover {
    box-shadow: 0 0 10px 100px #18a830 inset;
}